/* . = representa Classe
   # = representa Id
*/


body {
    padding-top: 40px;
    padding-bottom: 30px;
  }

#footer-1 {
  background-color: #c6d128;
  padding-top: 10px;
  padding-bottom: 10px;
}  

.espaco_linha {
  padding-top: 2.5px; /*está separando no rodapé as linhas das palavras*/
}

.cor_icone {
  color: #fc03037e;
}

#label_inicio {
  color: blue;
}

#label_Fim {
  color: blue;
}

@media (min-width: 768px) {  /*não funcionou*/
  .container {
    width: 820px;
    font-size: 18;
  }

  
}