body {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  
  .navbar {
    margin-bottom: 20px;
  }

#label_inicio {
  color: blue;
}

#label_Fim {
  color: blue;
}

@media (min-width: 400px) {
  .nav {
    background-color: red;
  }

  .navbar-default {
    background-color: aqua;
  }

  .navbar {
    background-color: chartreuse;
  }

  #nav-bar-right
}