body {
    padding-top: 100px;
    padding-bottom: 30px;
  }
  
  .navbar {
    margin-bottom: 5px;
  }

  .nav {
    margin-bottom: 5px;
  }

#footer-1 {
  background-color: #c6d128;
  padding-top: 10px;
  padding-bottom: 10px;
}  

.fa {
  color: #fc0303;
}

#label_inicio {
  color: blue;
}

#label_Fim {
  color: blue;
}

@media (min-width: 400px) {
  /* .nav {
    background-color: red;
  } */

  /* .navbar-default {
    background-color: aqua;
  } */

  /* .navbar {
    background-color: chartreuse;
  } */

  
}