    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <div class="container">
            <ul class="nav bottom justify-content-center" style="background-color: #c6d128;">
              <li class="nav-item"> <a class="nav-link active" href="/faleConosco"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;Fale Conosco</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/mapaSite"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Mapa do Site</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/sobre"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp; Sobre</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/credito"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>&nbsp;Créditos</a> </li>
            </ul>
    </div>


  
    
    <!-- Foi colocado no final para a página carregar mais rápido -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

    <!-- popper.js utilizada para os elementos suspensos como tooltips e menus -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <!-- <script type="text/javascript" src="/js/bootstrap-4.1.3-dist/bootstrap.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- holderjs.com renderiza espaços reservados para imagens-->
    <!-- <script src="https://getbootstrap.com.br/docs/4.1/assets/js/vendor/holder.min.js"></script> -->
    