<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="controle de frota de veículo">
    <meta name="author" content="Wellington">
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <!-- <link rel="shortcut icon" href="/public/img/favicon.ico"> -->
    <!-- <link rel="icon" href="https://getbootstrap.com.br/favicon.ico"> -->

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- biblioteca para os icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">

    <!-- Estilos customizados para o form uso.ejs -->
    <link rel="stylesheet" href="https://getbootstrap.com.br/docs/4.1/examples/checkout/form-validation.css" >

    <!-- DataTable JQuery-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />

    <title>Frota</title>
  </head>
  <body>
