    <!-- BootStrap 3.4.1 - Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #c6d128;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img alt="Início" src="/img/favicon.ico">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li class=""><a href="/" >Início</a></li> -->

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-cog fa-spin fa-1x fa-fw cor_icone" aria-hidden="true"></i>&nbsp;TeSTaR <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="../teste01/dtTable"    >DataTable</a></li>
                <li><a href="../teste01/index"      >consulta Fetch</a></li>
                <li><a href="../teste01/index2"     >Index=2</a></li>
                <li><a href="../modeloForm"         >Modelo Form</a></li>
                <li><a href="../teste01/placa"      >teste Fetch Placa</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">ESTÁTICAS</li>
                <li><a href="../index3.html"        >Index=3</a></li>
                <li><a href="../index4.html"        >Index=4</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user-o cor_icone" aria-hidden="true"></i>&nbsp;Usuários <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/contato/index"        >Cadastrar</a></li>
                <li><a href="/contato/contato_lista">Listar</a></li>
                <li><a href="/contato/lista_contato">Lista 2</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-car cor_icone" aria-hidden="true"></i>&nbsp;Veículos <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/veiculo/veiculo_cad"   >Cadastrar</a></li>
                <li><a href="/veiculo/veiculo_lista" >Listar</a></li>
                <li><a href="/veiculo/lista_veiculo" >Lista 2</a></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-usd cor_icone" aria-hidden="true"></i>&nbsp;Despesas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/despesa/index"        >Cadastrar</a></li>
                <li><a href="/despesa/despesa_lista">Listar</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-hashtag cor_icone" aria-hidden="true"></i> &nbsp;Ficha de Uso <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/uso/uso_abrir"     >Abrir</a></li>
                <li><a href="/uso/uso_finalizar" >Finalizar</a></li>
                <li><a href="/uso/uso_aberto"    >Consultar abertos</a></li>
                <li><a href="/uso/uso_lista"     >Listar</a></li>
              </ul>
            </li>

            <% if(user) { %>
              <li>
                <a href="/login/logout"><i class="fa fa-sign-out" aria-hidden="true cor_icone"></i>&nbsp;SAIR</a>
              </li>
            <% } else { %>
              <li>
                <a href="/login/index"><i class="fa fa-sign-in" aria-hidden="true cor_icone"></i>&nbsp;ENTRAR</a>
              </li>
              <% } %>


          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </nav>