<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="">



      <h1 >Fale Conosco</h1>


      <form action="wsavioli@proton.me" method="POST" enctype="text/plain">
        <div class="form-group">
          <label for="nome">Qual o seu nome?</label>
          <input type="text" class="form-control" id="nome" placeholder="Digite o seu nome">
        </div>
        <div class="form-group">
          <label for="email">E o seu email?</label>
          <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select de exemplo</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Exemplo de select múltiplo</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="mensagem">E qual a sua Mensagem?</label>
          <textarea class="form-control" id="mensagem" rows="3"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="">Enviar mensagem</button>
          <button type="reset" class="">Limpar campos</button>
        </div>
      </form>



  </div>
</div>

<%- include('includes/footer') %>