<%- include('includes/head') %>

<style>
  /* Selecionando o parágrafo pelo ID */
  p {

      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 18px;                 /* Tamanho da fonte */
      color: #1522d4d0;                  /* Cor da fonte */
      font-weight: bold;               /* Peso da fonte (negrito) */
       font-style: italic;             /* Estilo da fonte (itálico) */
      line-height: 1.5;                /* Altura da linha */
      text-align: center;             /* Alinhamento do texto */
      letter-spacing: 1px;             /* Espaçamento entre letras */
      word-spacing: 2px;               /* Espaçamento entre palavras */
  }
</style>

<%- include('includes/nav') %>


  <div class="row" class="container-fluid" style="width: 100%; padding: auto; margin: auto;">


    <div class="col-lg-8 my-3">
      <h1 class="text-center">Créditos</h1>

      <p> Autoria:      Wellington</p>
      <p> Organização:  IFSP (Instituto Federal de São Paulo)</p>
      <p> Elaborado em: 2023/2024</p>


    </div>


  </div>


<%- include('includes/footer') %>

</body>
</html>