<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Créditos</h1>
      <div>
        <a href="https://www.flaticon.com/br/icones-gratis/corrigir" 
          title="corrigir ícones">Corrigir ícones criados por Octopocto - Flaticon
        </a>

        <div>
            <p>O que colocar no sobre nós?</p>
            <p>Nela, vale explicar alguns pontos, como:</p>
            <p>O que a sua empresa faz;</p>
            <p>Qual a missão, visão e valores;</p>
            <p>Contar um pouco sobre você e a sua jornada empreendedora;</p>
            <p>Evidenciar os pontos que destacam o seu negócio em meio aos demais;</p>
            <p>Discorrer sobre os objetivos da sua marca para o futuro.</p>
        </div>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>

</body>
</html>