<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

    <title>DESPESA_LISTA.EJS</title>
  </head>

  <body>
    <%- console.log( x ); %>  <!-- vai exibir no console do servidor -->



    <p>2. Datatables Example - JSon Binding</p>
    <table id="table3">
        <thead>
            <tr>
              <th>email</th>
              <th>placa</th>
              <th>tipoDespesa</th>
              <th>hodometro</th>
              <th>data</th>
              <th>hora</th>
              <th>local</th>
              <th>unidade</th>
              <th>quantidade</th>
              <th>valor</th>
              <th>obs</th>
              <th>criadoEm</th>
              <th>_id</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
      
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>

      console.log ( <%- x %> );  //vai exibir no console do navegador
           $('#table3').DataTable({
                data: <%- x %>,
                columns: [
                    { data: 'email' },
                    { data: 'placa' },
                    { data: 'tipoDespesa' },
                    { data: 'hodometro' },
                    { data: 'data' },
                    { data: 'hora' },
                    { data: 'local' },
                    { data: 'unidade' },
                    { data: 'quantidade' },
                    { data: 'valor' },
                    { data: 'obs' },
                    { data: 'criadoEm' },
                    { data: '_id' },
                ],
                "pageLength": 3
            });

    </script>
  </body>
</html>
