<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>

    <title>Frota</title>
  </head>

  <body>

<%- include('../includes/nav') %>


  <table id="example-1" class="display" style="width:100%">

  </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->


    <div class="container">
        <div class="navbar navbar-expand-lg navbar-light" style="background-color: #c6d128;">
            <ul class="nav d-flex justify-content-center">
              <li class="nav-item"> <a class="nav-link active" href="/faleConosco"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;Fale Conosco</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/mapaSite"><i class="fa fa-sitemap" aria-hidden="true"></i>&nbsp;Mapa do Site</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/sobre"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp; Sobre</a> </li>
              <li class="nav-item"> <a class="nav-link" href="/credito"><i class="fa fa-puzzle-piece" aria-hidden="true"></i>&nbsp;Créditos</a> </li>
            </ul>
          </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
$(document).ready(function() {
    $('#example').dataTable( {
        "ajax": "data/objects_subarrays.txt",
        "columns": [
            { "data": "name[, ]" },
            { "data": "hr.0" },
            { "data": "office" },
            { "data": "extn" },
            { "data": "hr.2" },
            { "data": "hr.1" }
        ]
    } );
} );
    </script>
  </body>
</html>
