<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <%- include('includes/messages') %>
            <p>Exemplo</p>

            <table id="dt-table">
              <thead>
                <tr>
                  <th>renavan</th>
                  <th>chassi</th>
                  <th>prefixo</th>
                  <th>hodometro</th>
                  <th>combustivel</th>
                  <th>rodas</th>
                  <th>cor</th>
                  <th>_id</th>
                  <th>placa</th>
                  <th>criadoEm</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>

        </div>
      </div>
    </div>

<%- include('includes/footer-dtTable') %>
