<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>

    <title>Frota</title>
  </head>

  <body>

    <h1>página de teste</h1>
    <p>teste</p>
    <button id="btUm" onclick="listaVeiculo(4)">Listar Veiculos</button>
    <p id="veiculo">local da lista</p>





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


    <script>

      function listaVeiculo(rodas) {
      
        //alert("linha 37: " + rodas);
        const linhaVeic= document.getElementById('veiculo');

        const getVeiculo = async () => {
          const response = await fetch(' /veiculo/teste_lista_veiculo/' + rodas);
          const data = await response.json();  // Retorna em = [object Object],[object Object]
          //const data = await response.text();  // Retorna em = [{"renavan":"123456789","rodas":"4","_id":"652348bf0e056336b4e81bfa"},{"renavan":"123006789","rodas":"4","_id":"65676e9864aa66fbd77ffa78"}]

          console.log('LINHA 46: ' + data);

          return data;
        };

        getVeiculo().then(data => {
          data.forEach((x) => {
      // Imprime os dados de cada documento
     // linhaVeic.innerHTML = x.renavan;
      console.log(x.renavan, x.rodas);
    });
          
          // console.log('LINHA 51: ' + convertString);
          let k = data[0];
          linhaVeic.innerHTML = k.renavan;
          console.log("linha 52: " + k.renavan);
        });
      };

    </script>




<!-- A flecha ( => ) representa a função anônima que será executada quando a solicitação HTTP for concluída -->
</body>
</html>