<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dtTable</title>
    <script src="/js/validaCampoVeicCad.js"></script>
</head>
<body>
    "Teste 2 - index2"
    <p id="demo">A Paragraph</p>

    <button type="button" onclick="myFunction()">Try it</button>


</body>
</html>