<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>dtTable</title>

    <style>
        /* This style sets the width of all images to 100%: */
        img {
          width: 100%;
        }
    </style>
</head>
<body>
    <p>Teste 1</p>
    <span><img src="../../../img/corrigir.png" alt="Imagem teste" style="width:500px;height:600px;">Teste</span>
    <h2>HTML Image 2</h2>
    <img src="pic_trulli.jpg" alt="Trulli" width="500" height="333">
    <p>Teste 3</p>
    <span><img src="../../../img/corrigir.png" alt="Imagem teste" style="width:500px;height:600px;">Teste</span>
    <p>Teste 4</p>
    <span><img src="/img/imagem-jpg.jpg" alt="Imagem teste" style="width:500px;height:600px;">Teste</span>
    <p>Teste 5</p>
    <span><img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:50px;height:60px;">Teste</span>
</body>
</html>