<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/> -->

    <title>Frota - Lista Placas</title>
  </head>

  <body>

    <h1>página lista placa</h1>

    <p>teste</p>

    <p><button id="btUm" onclick="lista_placa()">Listar Placas</button></p>
    <p><button id="btUm" onclick="lista_placa_2()">Listar Placas - 2</button></p>
    <p><button id="btUm" onclick="lista_placa_3()">Listar Placas - 3</button></p>
    <p><button id="btUm" onclick="lista_placa_4()">Listar Placas - 4</button></p>
    <p><button id="btUm" onclick="lista_placa_5()">Listar Placas - 5</button></p>

    <p id="veiculo">local da lista 4</p>

    <p><input type="text" id="input-nome"></p>

    <span> <input type="text" id="input-nome-2"></span>

    <p>
    <select type="" name="list" id="list">

      <option selected> Escolher... </option>
      <option>...</option>

    </select>
  </p>

  <p>
    <ul>
      <li class="list">...</li>
    </ul>
  </p>

  <p><input type="text" id="input-nome-5"></p>

    <script>

      async function lista_placa() {

        const response = await fetch('/teste01/lista_placa');

        const data = await response.json();

        const select = document.querySelector("select"); //seleciona o primeiro elemento select que estiver presente no documento HTML - o seletor CSS é "select"

        data.forEach((item) => {
          const option = document.createElement("option");
          option.value = item._id;
          option.textContent = item.placa;

          select.appendChild(option);
        }); 

        // outra forma de acessar os valores JSON (não carregou todos os itens)

        // const options = data.map((item) => {
        //   const option = document.createElement("option");
        //   option.value = item._id;
        //   option.textContent = item.placa;

        //   return option;
        // });

        // select.appendChild(...options);

      };

      async function lista_placa_2() {

        const response = await fetch('/teste01/lista_placa');

        const data = await response.json();

        const list = document.querySelector(".list"); //Seleciona o primeiro elemento dentro do documento HTML que possui a classe "list"

        list.innerHTML = data.map((item) => `<li>${item._id}</li>`).join("");

      };



      async function lista_placa_5() {

        const endpoint = '/teste01/lista_placa';

        const response = await fetch(endpoint);

        const data = await response.json();

        const input = document.querySelector('#input-nome-5');

        input.value = data[1].placa; //somente especificando qual o registro [1], [2] que deu certo

        console.log(data[1]); //somente especificando qual o registro que deu certo
      };



      async function lista_placa_3() {

        const endpoint = '/teste01/lista_placa';

        const response = await fetch(endpoint);

        const data = await response.json();

        const input = document.querySelector('#input-nome');

        const input2 = document.querySelector('#input-nome-2');

        data.forEach((item) => {
          input.textContent += item.placa + ", "; //o textContent não aceitou a informação
        });

        data.forEach((item) => {
          input2.value += item.placa + ", ";
          console.log('Linha 127 ' + item.placa);
        });    
      };      




  async function lista_placa_4() {
    try {
      let x = "A";
      const linhaVeiculo = document.getElementById("veiculo");

      alert("linha 139");

      //faz uma requisição GET para o endpoint
      fetch('/teste01/lista_placa')

      //se a requisição for bem-sucedida, o código irá retornar o corpo da resposta como um objeto JSON
        .then(response => response.json())

        .then(data => {
          console.log(data[2]); //tentei acrescentar mais informação como na linha 147, mas deu erro
          x = data[1].placa;
          console.log('linha 147 ' + x);
          linhaVeiculo.innerHTML = data[1].placa;
          
    })
    } catch(error) {
      console.log(error);
      return res.render('404');
      // return res.send('Erro na requisição:', error);
    }
  };

  console.log("linha 162 lista_placa" + x);


</script>




<!-- A flecha ( => ) representa a função anônima que será executada quando a solicitação HTTP for concluída -->
</body>
</html>